@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#113102,#416800);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(109, 100%, 4%, 0.562);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #030801;
    text-align: center;
    text-shadow: 1px 1px 2px hsla(109, 100%, 4%, 0.548);
}
h2{
    color:#416800 ;
}
p {
    text-align: justify;
    
}
